In [657]:
import chardet
import pandas as pd

with open('shark_attack.csv', 'rb') as f:
    result = chardet.detect(f.read())  # or readline if the file is large

df = pd.read_csv('shark_attack.csv', encoding=result['encoding'])

In [658]:
#Check the columns and number of samples provided by the dataset
print(df.shape[1],'Columns: \n')
print(*list(df.columns), sep = ", ")
#Number of samples in my data set
print('\nNumber of samples: ',df.shape[0])

24 Columns:

Case Number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex , Age, Injury, Fatal (Y/N), Time, Species , Investigator or Source, pdf, href formula, href, Case Number.1, Case Number.2, original order, Unnamed: 22, Unnamed: 23

Number of samples:  5992

In [659]:
#Clean the Case numbers
def printcolumn(e):
    print(e)
    
def checkCNFormat(e):
    CN_format = r'\d{4}\.\d{2}\.\d{2}\.?[a-zR]?'
    return re.search(CN_format,e) is not None
    
def printFormatError(e):
    if not checkCNFormat(e):
        print(e)

df['Case Number'] = df['Case Number'].str.replace('[,-]','.')
df['Case Number'].apply(printFormatError)

0.0214
0.0336
0.0493
0.0725
ND.0153
ND.0152
ND.0151
ND.0150
ND.0149
ND.0148
ND.1940
ND.0139
ND.0138
ND.0136
ND.0135
ND.0134
ND.0133
ND.0132
ND.0130
ND.0129
ND.0127
ND.0124
ND.0123
ND.0122
ND.0119
ND.0118
ND.0116
ND.0115
nd.0114
ND.0113
ND.0111
ND.0110
ND.0109
ND.0108
ND.0107
ND.0106
ND.0104
ND.0102
ND.0100
ND.0097
ND.0096
ND.0095
ND.0094
ND.0093
ND.0091
ND.0090
ND.0089
ND.0088
ND.0087
ND.0086
ND.0085
ND.0084
ND.0083
ND.0082
ND.0081
ND.0078
ND.0076
ND.0075
ND.0074
ND.0073
ND.0069
ND.0068
ND.0066
ND.0065
ND.0064
ND.0063
ND.0062
ND.0060
ND.0059
ND.0058
ND.0057
ND.0056
ND.0055
ND.0054
ND.0053
ND.0052
ND.0051
ND.0049
ND.0048
ND.0047
ND.0046
ND.0044
ND.0043
ND.0042
ND.0041
ND.0040
ND.0039
ND.0038
ND.0037
ND.0036
ND.0035
ND.0034
ND.0033
ND.0032
ND.0031
ND.0030
ND.0028
ND.0027
ND.0026
ND.0025
ND.0024
ND.0023
ND.0022
ND.0021
ND.0020
ND.0019
ND.0018
ND.0017
ND.0016
ND.0015
ND.0014
ND.0013
ND.0012
ND.0011
ND.0010
ND.0009
ND.0008
ND.0007
ND.0006
ND.0005
ND.0004
ND.0003
ND.0002
ND.0001

0       None
1       None
2       None
3       None
4       None
        ...
5987    None
5988    None
5989    None
5990    None
5991    None
Name: Case Number, Length: 5992, dtype: object

In [679]:
#Type
def printcolumn(e):
    print(e)
    
def checkTypeFormat(e):
    if re.search(r'(?:Unp|P)rovoked',e) is None:
        return re.search(r'Invalid|Boat|Sea Disaster',e) is not None
    return True
def printTypeError(e):
    if not checkTypeFormat(e):
        print(e)

df['Type'] = df['Type'].str.replace('Boating','Boat')
#df['Type'].apply(printcolumn)

df['Type'].apply(printTypeError)
#Type can be Invalid / Boat / Sea Disaster / Provoked / Unprovoked
types = [t for t in df.groupby('Type').groups.keys()]

print(*types, sep = ',')
tcounts = [len(df.groupby(['Type']).groups[t]) for t in types]
print(tcounts)
print(tcounts[-1]/sum(tcounts)*100)
print('Most shark attacks (73%) are unprovoked')

Boat,Invalid,Provoked,Sea Disaster,Unprovoked
[310, 519, 557, 220, 4386]
73.19759679572763
Most shark attacks (73%) are unprovoked

In [752]:
#Country
def checkCountryFormat(e):
    return re.search(r'^[A-Z]+\.?(?:\s[A-Z]+|\s|\(UAE\)|)+$',e) is not None
def printCountryError(e):
    if not checkCountryFormat(e):
        print(e)

def upperCase(e):
    return e.upper()

df['Country'] = df['Country'].astype(str)
df['Country'] = df['Country'].apply(upperCase)
df['Country'] = df['Country'].str.replace('&','AND')
df['Country'] = df['Country'].str.replace(r'^\s+','')
df['Country'] = df['Country'].str.replace(r'AA','A')

#df['Country'].apply(printCountryError)
checkCountry = df['Country'].apply(checkCountryFormat)
#Set unknown contries to Unknown
df['Country'] = df['Country'].where(checkCountry, 'Unknown')
#Groupby countries
countries = [c for c in df.groupby('Country').groups.keys()]
tcounts = [len(df.groupby(['Country']).groups[c]) for c in countries]

df_countries = pd.DataFrame({'Country':countries, 'Shark Attacks/country':tcounts})

print(df_countries.max().Country, 
      ' is the country with most number of shark attacks with ',
      df_countries.max()['Shark Attacks/country'])

YEMEN   is the country with most number of shark attacks with  2116

In [554]:
#display(df.head())

#Check for null columns or collumns with little information
print(df.isnull().sum())
#If 80% of the rows are empty we delete the column
ncols = [c for c in df.columns if df[c].isnull().sum() > 90 / 100 * df.shape[0]]
df = df.drop(ncols, axis = 1)

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
pdf                          0
href formula                 1
href                         3
Case Number.1                0
Case Number.2                0
original order               0
dtype: int64

In [555]:
#Limpiar datos

import re
def checkDateFormat(e):
    dformat = '\d{1,2}-\w{3}-\d{2,4}'
    return re.search(dformat,e) is not None
def printDateErrorFormat(e):
    if not checkDateFormat(e):
        print(e)

#Cleaning the date column dataset
df.Date = df.Date.str.replace('Ap-','Apr-')
df.Date = df.Date.str.replace(' ','-')
df.Date = df.Date.str.replace('-+','-')

print ('Number of samples with wrong format: ',(df.Date.apply(checkDateFormat) == False).sum())
#df.Date.apply(printDateErrorFormat)

Number of samples with wrong format:  870

In [556]:
def daySearch(e):
    d = re.search(r'\d{1,2}-\w{3}',e)
    if d is not None:
        d = re.search(r'\d+',d.group(0))
        if int(d.group(0)) > 0 and int(d.group(0)) < 32:
            return (d.group(0))
    return 0

def monthSearch(e):
    months = ['Jan','Feb','Mar','Apr','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
    d = re.search(r'\w{3,}-\d{2,4}',e)
    if d is not None:
        d = re.search(r'[A-Z]\w+',d.group(0))
        if d is not None and d.group(0)[:3] in months:
            return d.group(0)[:3]
    return None

days = df.Date.apply(daySearch)
print('Number of samples with unknown days: ',(days == 0).sum())
months = df.Date.apply(monthSearch)
print('Number of samples with unknown months: ',(months.isnull()).sum())

Number of samples with unknown days:  858
Number of samples with unknown months:  1346

In [557]:
#Check the year is the same when provided in the date and in the year columns
def checkYearFormat(e):
    return re.search(r'[12]\d{3}',str(e)) is not None

def printYearError(e):
    if not checkYearFormat(e):
        print(e)

def checkYear(e):
    if checkYearFormat(e.Year):
        return re.search(str(e.Year)[-2:],e.Date) is not None
    return False

checkYear = df[['Date', 'Year']].apply(checkYear, axis = 1)
years = df.Year.where(checkYear, 0)
print('Number of samples with unknown years: ',(years == 0).sum())
#df.Year.apply(printYearError)

Number of samples with unknown years:  152

In [613]:
df_dates = pd.DataFrame({'Day':days, 'Month':months, 'Year':years})
display(df_dates.head(10))

df_dates.Day = df_dates.Day.astype(int)
df_dates.Year = df_dates.Year.astype(int)

#How much information rows contain
#If 80% of the rows are empty we delete the column
nrows = [i for i in df_dates.index
         if df_dates.loc[i].Day == 0
         or df_dates.loc[i].Month is None
         or df_dates.loc[i].Year == 0]

df_dates = df_dates.drop(nrows, axis = 0)

  Day Month  Year
0  18   Sep  2016
1  18   Sep  2016
2  18   Sep  2016
3  17   Sep  2016
4  16   Sep  2016
5  15   Sep  2016
6  11   Sep  2016
7  07   Sep  2016
8  06   Sep  2016
9  05   Sep  2016

In [624]:
df_groups = df_dates.groupby(df_dates.columns.tolist(),as_index=False).size()
df_groups

Day  Month  Year
1    Apr    1934    3
            1960    1
            1972    2
            1987    1
            1990    1
                   ..
31   Oct    2003    3
            2004    1
            2006    1
            2013    1
            2014    1
Length: 3773, dtype: int64

In [46]:

#

[1,
 1,
 1,
 3,
 2,
 4,
 0,
 0,
 1,
 1,
 2,
 2,
 1,
 0,
 1,
 1,
 1,
 2,
 1,
 1,
 0,
 3,
 2,
 1,
 1,
 1,
 2,
 2,
 0,
 3,
 1,
 2,
 3,
 3,
 1,
 2,
 0,
 2,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 2,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 3,
 2,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 3,
 2,
 3,
 1,
 1,
 2,
 1,
 4,
 2,
 1,
 2,
 2,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 4,
 1,
 1,
 1,
 2,
 0,
 2,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 3,
 2,
 2,
 1,
 2,
 2,
 1,
 0,
 0,
 1,
 0,
 1,
 2,
 1,
 0,
 0,
 0,
 2,
 0,
 0,
 1,
 1,
 0,
 3,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 2,
 1,
 0,
 0,
 0,
 0,
 2,
 0,
 4,
 0,
 0,
 2,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 2,
 1,
 0,
 1,
 3,
 1,
 2,
 0,
 0,
 0,
 3,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 2,
 1,
 0,
 0,
 4,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 2,
 0,
 1,
 2,
 2,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 2,
 0,
 0,
 0,
 2,
 1,
 2,
 0,
 0,
 2,
 1,
 1,
 5,
 0,
 0,
 0,
 2,
 0,
 0,
 3,
 2,
 2,
 1,
 1,
 1,
 0,
 0,
 1,
 2,
 0,
 5,
 2,
 0,
 0,
 4,
 1,
 2,
 1,
 3,
 2,
 0,
 4,
 0,
 2,
 1,
 0,
 1,
 1,
 2,
 3,
 1,
 0,
 1,
 2,
 1,
 2,
 0,
 0,
 1,
 1,
 0,
 0,
 2,
 1,
 1,
 0,
 0,
 0,
 0,
 2,
 0,
 1,
 3,
 2,
 1,
 1,
 2,
 2,
 3,
 1,
 1,
 3,
 4,
 1,
 0,
 0,
 2,
 2,
 1,
 0,
 5,
 1,
 1,
 1,
 3,
 0,
 0,
 0,
 3,
 1,
 1,
 2,
 0,
 2,
 1,
 2,
 1,
 2,
 3,
 0,
 0,
 1,
 1,
 0,
 2,
 2,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 2,
 0,
 0,
 2,
 1,
 1,
 5,
 1,
 1,
 1,
 0,
 1,
 0,
 2,
 2,
 2,
 1,
 5,
 1,
 1,
 1,
 0,
 3,
 1,
 4,
 0,
 2,
 1,
 2,
 4,
 0,
 0,
 3,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 2,
 1,
 3,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 2,
 0,
 0,
 4,
 0,
 0,
 1,
 2,
 6,
 0,
 4,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 0,
 1,
 0,
 4,
 0,
 1,
 2,
 0,
 3,
 0,
 0,
 1,
 1,
 1,
 2,
 1,
 4,
 1,
 1,
 2,
 4,
 3,
 1,
 2,
 0,
 0,
 1,
 2,
 3,
 0,
 1,
 1,
 1,
 1,
 3,
 2,
 0,
 2,
 0,
 0,
 2,
 0,
 0,
 0,
 2,
 0,
 5,
 0,
 2,
 2,
 0,
 1,
 3,
 4,
 2,
 0,
 3,
 0,
 0,
 1,
 2,
 0,
 3,
 1,
 0,
 0,
 3,
 2,
 3,
 2,
 0,
 2,
 1,
 2,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 1,
 0,
 2,
 2,
 1,
 0,
 0,
 0,
 1,
 1,
 2,
 1,
 2,
 1,
 1,
 1,
 0,
 2,
 0,
 1,
 1,
 1,
 2,
 2,
 0,
 1,
 2,
 1,
 0,
 1,
 0,
 1,
 2,
 2,
 1,
 0,
 1,
 4,
 1,
 0,
 0,
 4,
 0,
 1,
 0,
 3,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 2,
 1,
 0,
 0,
 0,
 1,
 3,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 3,
 0,
 1,
 2,
 0,
 0,
 0,
 0,
 2,
 0,
 1,
 0,
 2,
 3,
 1,
 1,
 3,
 1,
 3,
 2,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 3,
 1,
 1,
 1,
 2,
 1,
 0,
 2,
 1,
 2,
 3,
 1,
 1,
 0,
 2,
 3,
 2,
 1,
 1,
 1,
 4,
 0,
 1,
 0,
 2,
 2,
 1,
 1,
 2,
 3,
 0,
 2,
 0,
 0,
 1,
 2,
 1,
 3,
 0,
 1,
 0,
 3,
 0,
 0,
 0,
 0,
 1,
 2,
 2,
 2,
 0,
 2,
 0,
 2,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 4,
 2,
 0,
 1,
 2,
 2,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 3,
 0,
 2,
 1,
 0,
 2,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 2,
 2,
 2,
 1,
 0,
 0,
 0,
 1,
 1,
 2,
 2,
 0,
 3,
 2,
 0,
 4,
 3,
 0,
 0,
 1,
 0,
 1,
 1,
 3,
 2,
 0,
 2,
 0,
 0,
 1,
 2,
 2,
 0,
 2,
 1,
 0,
 3,
 0,
 0,
 0,
 0,
 3,
 2,
 2,
 2,
 3,
 1,
 0,
 3,
 2,
 4,
 0,
 2,
 0,
 2,
 0,
 3,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 2,
 3,
 1,
 1,
 4,
 2,
 1,
 0,
 1,
 2,
 1,
 1,
 1,
 2,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 3,
 2,
 2,
 0,
 0,
 0,
 1,
 2,
 1,
 0,
 0,
 1,
 2,
 0,
 0,
 0,
 2,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 2,
 0,
 1,
 1,
 1,
 0,
 1,
 2,
 1,
 2,
 0,
 1,
 4,
 3,
 2,
 1,
 3,
 1,
 1,
 0,
 2,
 0,
 1,
 2,
 1,
 1,
 2,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 2,
 1,
 2,
 0,
 1,
 0,
 2,
 2,
 0,
 1,
 6,
 4,
 3,
 0,
 1,
 4,
 3,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 3,
 1,
 1,
 1,
 1,
 2,
 4,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 4,
 2,
 2,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 2,
 4,
 2,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 2,
 2,
 0,
 2,
 0,
 1,
 1,
 0,
 3,
 0,
 2,
 2,
 0,
 0,
 3,
 0,
 2,
 3,
 4,
 0,
 3,
 1,
 0,
 2,
 1,
 3,
 5,
 0,
 0,
 0,
 3,
 2,
 0,
 3,
 2,
 3,
 2,
 0,
 0,
 1,
 2,
 0,
 2,
 2,
 1,
 3,
 4,
 3,
 3,
 1,
 0,
 2,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 2,
 2,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 2,
 0,
 1,
 1,
 ...]

In [103]:
place = df[['Country','Area','Location']]

#groups.keys() devuelve las keys de los grupos
locations = [p for p in place.groupby('Country').groups.keys()]

#print(len(place.groupby(['Location']).groups[locations[0]]))
print(*locations)
print(len(locations))
print([len(place.groupby(['Country']).groups[l]) for l in locations])

 PHILIPPINES  TONGA ADMIRALTY ISLANDS ALGERIA AMERICAN SAMOA ANDAMAN / NICOBAR ISLANDAS ANGOLA ANTIGUA ARGENTINA ARUBA ASIA? ATLANTIC OCEAN AUSTRALIA AZORES BAHAMAS BAHREIN BANGLADESH BARBADOS BAY OF BENGAL BELIZE BERMUDA BRAZIL BRITISH ISLES BRITISH NEW GUINEA BRITISH VIRGIN ISLANDS BRITISH WEST INDIES BURMA Between PORTUGAL & INDIA CANADA CAPE VERDE CARIBBEAN SEA CAYMAN ISLANDS CENTRAL PACIFIC CEYLON (SRI LANKA) CHILE CHINA COLUMBIA COOK ISLANDS COSTA RICA CRETE CROATIA CUBA CURACAO CYPRUS Coast of AFRICA DIEGO GARCIA DJIBOUTI DOMINICAN REPUBLIC ECUADOR EGYPT EGYPT  EGYPT / ISRAEL EL SALVADOR ENGLAND EQUATORIAL GUINEA / CAMEROON FALKLAND ISLANDS FEDERATED STATES OF MICRONESIA FIJI FRANCE FRENCH POLYNESIA Fiji GABON GEORGIA GHANA GRAND CAYMAN GREECE GREENLAND GRENADA GUAM GUATEMALA GUINEA GULF OF ADEN GUYANA HAITI HONDURAS HONG KONG ICELAND INDIA INDIAN OCEAN INDIAN OCEAN? INDONESIA IRAN IRAN / IRAQ IRAQ IRELAND ISRAEL ITALY ITALY / CROATIA JAMAICA JAPAN JAVA JOHNSTON ISLAND KENYA KIRIBATI KOREA KUWAIT LEBANON LIBERIA LIBYA MADAGASCAR MALAYSIA MALDIVE ISLANDS MALTA MARSHALL ISLANDS MARTINIQUE MAURITIUS MAYOTTE MEDITERRANEAN SEA MEDITERRANEAN SEA? MEXICO MEXICO  MICRONESIA MID ATLANTIC OCEAN MID-PACIFC OCEAN MONACO MONTENEGRO MOZAMBIQUE NAMIBIA NETHERLANDS ANTILLES NEVIS NEW BRITAIN NEW CALEDONIA NEW GUINEA NEW ZEALAND NICARAGUA NICARAGUA  NIGERIA NORTH ATLANTIC OCEAN NORTH ATLANTIC OCEAN  NORTH PACIFIC OCEAN NORTH SEA NORTHERN ARABIAN SEA NORTHERN MARIANA ISLANDS NORWAY OCEAN OKINAWA PACIFIC OCEAN PACIFIC OCEAN  PALAU PALESTINIAN TERRITORIES PANAMA PAPUA NEW GUINEA PARAGUAY PERSIAN GULF PHILIPPINES PORTUGAL PUERTO RICO RED SEA RED SEA / INDIAN OCEAN RED SEA? REUNION RUSSIA SAMOA SAN DOMINGO SAUDI ARABIA SCOTLAND SENEGAL SEYCHELLES SIERRA LEONE SINGAPORE SLOVENIA SOLOMON ISLANDS SOLOMON ISLANDS / VANUATU SOMALIA SOUTH AFRICA SOUTH ATLANTIC OCEAN SOUTH CHINA SEA SOUTH KOREA SOUTH PACIFIC OCEAN SOUTHWEST PACIFIC OCEAN SPAIN SRI LANKA ST. MAARTIN ST. MARTIN SUDAN SUDAN? SWEDEN SYRIA Seychelles Sierra Leone St Helena TAIWAN TANZANIA TASMAN SEA THAILAND THE BALKANS TONGA TRINIDAD & TOBAGO TUNISIA TURKEY TURKS & CAICOS TUVALU UNITED ARAB EMIRATES UNITED ARAB EMIRATES (UAE) UNITED KINGDOM URUGUAY USA VANUATU VENEZUELA VIETNAM WESTERN SAMOA YEMEN YEMEN
203
[1, 3, 1, 1, 3, 1, 1, 1, 1, 1, 1, 16, 1279, 5, 98, 1, 1, 5, 1, 3, 16, 102, 1, 1, 1, 1, 4, 1, 10, 3, 8, 2, 2, 1, 8, 6, 9, 1, 12, 2, 34, 42, 1, 1, 1, 1, 1, 7, 8, 36, 2, 1, 4, 19, 1, 1, 1, 62, 13, 22, 3, 1, 1, 1, 1, 25, 1, 4, 4, 1, 3, 1, 1, 3, 3, 24, 1, 37, 7, 1, 20, 29, 1, 12, 1, 7, 71, 1, 23, 32, 1, 2, 10, 6, 1, 1, 3, 3, 5, 7, 4, 1, 5, 13, 1, 7, 1, 2, 1, 81, 1, 3, 5, 1, 1, 3, 44, 2, 1, 1, 6, 51, 10, 125, 6, 1, 4, 4, 1, 7, 1, 1, 1, 2, 1, 6, 17, 2, 5, 1, 32, 133, 1, 4, 59, 3, 1, 1, 1, 1, 57, 4, 7, 1, 5, 8, 11, 7, 8, 6, 1, 29, 1, 6, 565, 12, 1, 8, 2, 2, 40, 13, 1, 1, 4, 1, 1, 1, 1, 1, 1, 9, 8, 1, 6, 1, 15, 3, 3, 12, 5, 1, 1, 2, 10, 3, 2116, 14, 11, 14, 1, 2, 7]